@model PoochPositiveTraining.Models.Dog

@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/draganddrop.css" rel="stylesheet" />
<link href="~/Content/resizeandcrop.css" rel="stylesheet" />


@using (Html.BeginForm("Edit", "Dogs", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <button type="button" onclick="location.href='@Url.Action("Details", "Clients", new { id = Model.ClientID })'" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back
            </button>
            <input type="submit" value="Save" class="btn btn-default" />
            <button type="button" onclick="location.href='@Url.Action("Delete", "Dogs", new { id = Model.DogID })'" class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </button>
        </div>
        <hr />
    </div>

    @Html.Partial("_CreateEdit");

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/myapps/draganddrop.js"></script>
}
