@model PoochPositiveTraining.Models.Client

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Clients")'" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back
        </button>
        <button type="button" onclick="location.href='@Url.Action("Edit", "Clients", new { id = Model.ClientID })'"
                class="btn btn-default">
            Edit
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </p>
    <hr />
</div>

<div class="row">
    <div class="col-md-5">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Zip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Zip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

        </dl>
    </div>

    <div class="col-md-7">
        <ul class="dogList">
            @if (Model.Dogs != null)
            {
                foreach (var dog in Model.Dogs.ToList())
                {
                    <li>
                        <a href="@Url.Action("Edit", "Dogs", new { id = dog.DogID })">
                            <p>@dog.Name</p>
                            @{
                                if (dog.Thumbnail != null)
                                {
                                    <img src="~/images/thumbnails/@dog.Thumbnail.FileName" class="dogThumbnail" onerror="if (this.src != '/images/thumbnails/DogNoImage.png') this.src='/images/thumbnails/DogNoImage.png'" />
                                }
                                else
                                {
                                    <img src="/images/thumbnails/DogNoImage.png" class="dogThumbnail" />
                                }
                            }
                        </a>
                    </li>
                }
            }
            <li>
                <a href="@Url.Action("Create", "Dogs", new { clientID = Model.ClientID })">
                    <p>Add Dog</p>
                    <img src="~/images/NewDog.png" class="dogThumbnail" />
                </a>
            </li>
        </ul>
    </div>
</div>
